$color-highlight: #F27278;
$color-main: #273D8F;
$color-text: #888888;
$color-top: #B27E3D;
$color-border: #DBDBDB;

@mixin border-radius($value) {
    // @include prefix(border-radius, $value, webkit);
    border-radius: $value;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.contact {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
        background-color: $color-main;
        @include border-radius(50%);
        font-size: 20px;
        color: white;
    }
}

.button {
    @include border-radius(6px);
    padding: 20px 50px;
    background-color: $color-main;
    color: white;
    font-size: 24px;
    width: 220px;
    height: 72px;

    &:hover {
        background-color: $color-highlight;
        transition: 0.5s all;
        text-decoration: none;
    }

}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    padding: 30px;
    position: relative;
    &__list {
        display: flex;

    }

    &__link {
        line-height: 46px;
        height: 46px;
        padding: 7px;
        text-align: center;
        font-weight: 900;
        font-size: 15px;
        color: $color-main;
        display: block;

        &:hover {
            color: red;
            text-decoration: none;
        }
    }

    &__nav {
        img {
            padding-left: 20px;
            max-height: 123px;
            max-width: 70%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        background-image: url(../image/header-bg.svg);
        top: 0;
        right: 0;
        object-fit: cover;
        height: 120px;
        width: 220px;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}

.intro {
    margin-bottom: 80px;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../image/intro-1-circle-1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        right: 0;
        top: 140px;
        width: 30%;
        height: 100%;
    }

    &::after {
        content: "";
        background-image: url(../image/intro-1-circle-2.svg);
        position: absolute;
        bottom: -62%;
        left: 0;
        width: 260px;
        aspect-ratio: 1/2;
        background-position: right;
        background-size: cover;
    }

    &__title {
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: $color-main;
    }

    &__desc {
        font-size: 42px;
        font-weight: 700;
        color: $color-main;
        margin-bottom: 50px;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
            height: 100%;
            bottom: 0;
        }
    }

    &__head {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    &__logo {
        width: 150px;
        height: auto;
        margin-right: 20px;
    }

    &__content {
        padding-top: 130px;
        font-size: 48px;
        color: $color-main;
        font-weight: 700;
    }

    &__box {
        padding: 0 10px;

        &--image {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &--content {
            font-size: 24px;
            font-weight: 700;
            color: $color-main;
            margin-top: 20px;
            margin-bottom: 15px;
            text-align: center;
        }

        &--desc {
            color: $color-text;
            font-weight: 500;
            text-align: center;
            font-size: 16px;
        }
    }
}
.select {
    margin-bottom: 80px;

    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: $color-main;
        margin: 0;
        margin-left: 20px;

    }

    &__left {
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__right {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &--easy {
            text-align: right;
        }

        &--title {
            font-size: 52px;
            font-weight: 700;
            color: $color-main;
            margin-bottom: 10px;
        }

        &--desc {
            color: $color-text;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

.features {
    margin-bottom: 80px;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    &__btn {
        @include border-radius(6px);
        padding: 20px 80px;
        background-color: $color-main;
        color: white;
        font-size: 24px;
    }

    &__box {
        display: flex;
        margin-bottom: 30px;
    }

    &__icon {
        margin-right: 20px;
    }

    &__title {
        font-size: 20px;
        font-weight: 900;
        color: $color-main;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__desc {
        color: $color-text;
        font-weight: 500;
        font-size: 16px;
    }

    &__image {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            object-fit: cover;
        }
    }
}

.luxcat__classic {
    margin-bottom: 80px;
    background-color: $color-main;
    padding: 50px 20px;

    &__box {
        background-color: white;
        @include border-radius(30px);
        overflow: hidden;

    }

    &__image {
        width: 100%;
        height: 100%;
        padding: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        padding: 16px 8px 8px 8px;
        text-align: center;
        position: relative;
        font-size: 20px;
        color: white;
        font-weight: 800;
    }
}

.section__five {
    margin-bottom: 100px;

    &__title {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        color: $color-main;
        margin-bottom: 40px;
    }
}

.feedback {
    margin-bottom: 100px;

    &__box {
        position: relative;
        box-shadow: 0px 4px 20px rgb(0 0 0 / 15%);
        background: white;
        margin-bottom: 20px;
        text-align: center;
        height: 100%;
        overflow: hidden;
        @include border-radius(10px);
    }

    &__image {
        width: 100%;
        // height: 40%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__meta {
        @include border-radius(10px);
        background-color: $color-main;
        padding: 20px;
        width: 100%;
        height: 56%;
    }

    &__title {
        font-size: 16px;
        color: white;
    }

    &__name {
        font-size: 20px;
        color: white;
        margin-bottom: 20px;
    }

    &__content {
        font-weight: 400;
        color: white;
        margin-bottom: 30px;
    }

    &__star {
        text-align: right;
        color: white;
    }

    &__icon {
        position: absolute;
        color: white;
        right: 10px;
        top: 10px;
        font-size: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: $color-main;
    }
}

.company {
    text-align: center;
    margin-bottom: 80px;

    &__image {
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        font-size: 48px;
        font-weight: 700;
        color: $color-main;
    }
}

.Mystore {
    margin-bottom: 100px;

    &__name {
        font-size: 47px;
        text-align: left !important;
        color: $color-main;
        line-height: 54px;
    }

    &__table {
        border-radius: 10px;
        padding: 20px 20px 20px;
        background: #273d8f;
    }

    &__info {

        input,
        textarea {
            width: 100%;
            margin-bottom: 20px;
            border-radius: 6px;
            padding: 10px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button--pink {
        background-color: $color-highlight;
    }

    &__image {
        width: 100%;
        height: 100%;
        position: relative;

        &--cat {
            position: absolute;
            width: 60%;
            bottom: 0;
            right: -45px;
            z-index: 3;
            object-fit: cover;
        }

        &--book {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
        }
    }
}

.blog {
    margin-bottom: 100px;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: $color-main;
    }

    &__item {
        box-shadow: 0px 4px 20px rgb(0 0 0 / 15%);
        border-radius: 10px;
        background: white;
        padding: 20px;
        cursor: pointer;
    }

    &__image {
        width: 100%;
        text-align: center;

        img {
            width: 50%;
            object-fit: cover;
        }
    }

    &__date {
        color: $color-text;
        font-size: 13px;
        margin-bottom: 10px;
    }

    &__content {
        font-weight: 600;
        color: $color-main;
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    &__desc {
        color: $color-text;
    }
}

.footer {
    border-top: 3px solid $color-main;
    padding: 50px;
    &__left {
        width: 100%;
        text-align: center;

        img {
            width: 60%;
            object-fit: cover;
        }
    }

    &__main {
        text-align: center;

        img {
            width: 50%;
            margin-bottom: 20px;
        }
    }

    &__nav {
        display: flex;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;

        input {
            padding: 10px;
            border: none;
            height: 60%;
        }
    }

    &__button {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-main;
        color: white;
        font-size: 14px;
        border-radius: 20px;
        width: 140px;
        height: 40px;
        &:hover{
            transition: 0.5s all;
            background-color: $color-highlight;
        }
    }
    &__right{
        p{
            color: $color-main;
        }
        h4{
            color: $color-main;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    &__contact{
        display: flex;
    }
    &__icon{
        margin-right: 10px;
    }
    &__phone{
        color: $color-main;
        font-size: 20px;
        margin-bottom: 10px;
    }
    &__social{
        p{
            color: $color-text;
        }
    }
    &__link{
        a{
            height: 40px;
            width: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 20px;
            text-align: center;
            background-color: $color-main;
            color: white;
            &:hover{
                background-color: $color-highlight;
                transition: 0.5s all;
                text-decoration: none;
                color: white;
            }
        }
    }
}